<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 112.2 MB/s eta 0:00:00
Downloading numpy-2.4.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 133.2 MB/s eta 0:00:00
Installing collected packages: numpy, pandas
Successfully installed numpy-2.4.2 pandas-3.0.0

In [2]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [3]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [43]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [51]:
## Write your code here
# pd.set_option('display.max_columns', None)
# pd.reset_option('display.max_columns')
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [52]:
## Write your code here
df.shape[0]

65457

Print the number of columns in the dataset.

In [47]:
## Write your code here
df.shape[1]

114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [30]:
## Write your code here
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

# df.dtypes
print(df.dtypes)

ResponseId                          int64
MainBranch                            str
Age                                   str
Employment                            str
RemoteWork                            str
Check                                 str
CodingActivities                      str
EdLevel                               str
LearnCode                             str
LearnCodeOnline                       str
TechDoc                               str
YearsCode                             str
YearsCodePro                          str
DevType                               str
OrgSize                               str
PurchaseInfluence                     str
BuyNewTool                            str
BuildvsBuy                            str
TechEndorse                           str
Country                               str
Currency                              str
CompTotal                         float64
LanguageHaveWorkedWith                str
LanguageWantToWorkWith                str
LanguageAdmired                       str
DatabaseHaveWorkedWith                str
DatabaseWantToWorkWith                str
DatabaseAdmired                       str
PlatformHaveWorkedWith                str
PlatformWantToWorkWith                str
PlatformAdmired                       str
WebframeHaveWorkedWith                str
WebframeWantToWorkWith                str
WebframeAdmired                       str
EmbeddedHaveWorkedWith                str
EmbeddedWantToWorkWith                str
EmbeddedAdmired                       str
MiscTechHaveWorkedWith                str
MiscTechWantToWorkWith                str
MiscTechAdmired                       str
ToolsTechHaveWorkedWith               str
ToolsTechWantToWorkWith               str
ToolsTechAdmired                      str
NEWCollabToolsHaveWorkedWith          str
NEWCollabToolsWantToWorkWith          str
NEWCollabToolsAdmired                 str
OpSysPersonal use                     str
OpSysProfessional use                 str
OfficeStackAsyncHaveWorkedWith        str
OfficeStackAsyncWantToWorkWith        str
OfficeStackAsyncAdmired               str
OfficeStackSyncHaveWorkedWith         str
OfficeStackSyncWantToWorkWith         str
OfficeStackSyncAdmired                str
AISearchDevHaveWorkedWith             str
AISearchDevWantToWorkWith             str
AISearchDevAdmired                    str
NEWSOSites                            str
SOVisitFreq                           str
SOAccount                             str
SOPartFreq                            str
SOHow                                 str
SOComm                                str
AISelect                              str
AISent                                str
AIBen                                 str
AIAcc                                 str
AIComplex                             str
AIToolCurrently Using                 str
AIToolInterested in Using             str
AIToolNot interested in Using         str
AINextMuch more integrated            str
AINextNo change                       str
AINextMore integrated                 str
AINextLess integrated                 str
AINextMuch less integrated            str
AIThreat                              str
AIEthics                              str
AIChallenges                          str
TBranch                               str
ICorPM                                str
WorkExp                           float64
Knowledge_1                           str
Knowledge_2                           str
Knowledge_3                           str
Knowledge_4                           str
Knowledge_5                           str
Knowledge_6                           str
Knowledge_7                           str
Knowledge_8                           str
Knowledge_9                           str
Frequency_1                           str
Frequency_2                           str
Frequency_3                           str
TimeSearching                         str
TimeAnswering                         str
Frustration                           str
ProfessionalTech                      str
ProfessionalCloud                     str
ProfessionalQuestion                  str
Industry                              str
JobSatPoints_1                    float64
JobSatPoints_4                    float64
JobSatPoints_5                    float64
JobSatPoints_6                    float64
JobSatPoints_7                    float64
JobSatPoints_8                    float64
JobSatPoints_9                    float64
JobSatPoints_10                   float64
JobSatPoints_11                   float64
SurveyLength                          str
SurveyEase                            str
ConvertedCompYearly               float64
JobSat                            float64
dtype: object

Print the mean age of the survey participants.

In [65]:
## Write your code here
# # Convert Age column to numeric (invalid values become NaN)
# df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# # # Calculate and print the mean age
# # mean_age = df['Age'].mean()
# # mean_age

## -- Most reliable as midpoint mapping--
df['Age'].unique()
age_map = {
    "Under 18 years old": 17,
    "18-24 years old": 21,
    "25-34 years old": 29.5,
    "35-44 years old": 39.5,
    "45-54 years old": 49.5,
    "55-64 years old": 59.5,
    "65 years or older": 70,
    "Prefer not to say": None
}

df['Age_num'] = df['Age'].map(age_map)
df['Age_num'].mean()

# # # Extract the first number from the Age string

# df['Age'].unique()
# df['Age_num'] = df['Age'].str.extract('(\d+)').astype(float)

# df.loc[df['Age'] == 'Under 18 years old', 'Age_num'] = 17
# df.loc[df['Age'] == '65 years or older', 'Age_num'] = 65
# df.loc[df['Age'] == 'Prefer not to say', 'Age_num'] = None

# df['Age_num'].mean()

np.float64(33.047079143317724)

In [60]:
df['Age'].mode()

0    25-34 years old
Name: Age, dtype: str

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [35]:
## Write your code here
print("Number of unique countries:", df['Country'].nunique())

Number of unique countries: 185

In [66]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Columns: 115 entries, ResponseId to Age_num
dtypes: float64(14), int64(1), str(100)
memory usage: 57.4 MB

Copyright ©  IBM Corporation. All rights reserved.